/*----------------- GENERAL CSS ------------------*/

/*Configure the tab buttons*/
.sheet-attributes,
.sheet-journal {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
	display: block;
}
.sheet-character{
	background-image: url(https://i.pinimg.com/564x/46/8d/b3/468db3c7624338b830765a3792625fba.jpg);
    background-size: 1128px 1800px;
    background-attachment: scroll;
    background-position: center;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: auto auto auto 100px 300px;
    grid-template-rows: 90px 1fr 1fr 1fr auto;
    grid-template-areas: 
        "header  header  header  header header" 
        "attribute   common  common  skill skill" 
        "z-soul   z-soul z-soul  skill skill" 
        "gear gear gear gear gear"
		"perks perks perks perks perks"
        "footer  footer  footer  footer footer";
}

textarea {
    width: 90%;
    height: 85%;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
}

.sheet-flex-col {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: flex-start;*/
}

.sheet-flex-center {
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3em;
    color: orangered;
}

h2{
    font-size: 2em;
    color:orangered;
}

h3{
    font-size: 1.5em;
    text-align: center;
    color:orangered;
}

label{
    color: orangered;
    display: inline-block;
}

.sheet-gear{
    grid-area: gear;
}

.sheet-perks{
    grid-area: perks;
}

.sheet-z-soul{
    grid-area: z-soul;
}

.sheet-header {
    grid-area: header;
    
    flex-direction: column;
}



.sheet-attribute {
    grid-area: attribute;
}

.sheet-common {
    grid-area: common;
}

.sheet-power {
    grid-area: power;
}

.sheet-attack {
    grid-area: attack;
}

.sheet-inv {
    grid-area: inv;
}

.sheet-misc {
    grid-area: misc;
}

.sheet-footer {
    grid-area: footer;
}

.sheet-ktable{
    grid-column: col 4;
    grid-row: row 2;
    display: grid;
    grid-template-areas:
        "ki_name ki_type"
        "ki_cost ki_charge"
        "ki_dam_amp ki_piercing"
        "ki_use ki_size"
}

.sheet-ki_name{
    grid-area: ki_name;
}

.sheet-ki_use{
    grid-area: ki_use;
}

.sheet-ki_type {
    grid-area: ki_type;
}

.sheet-ki_piercing {
    grid-area:ki_piercing;
}

.sheet-ki_dam_amp {
    grid-area: ki_dam_amp;
}

.sheet-ki_bur_val {
    grid-area: ki_bur_val;
}

.sheet-ki_charge {
    grid-area: ki_charge;
}

.sheet-ki_prop {
    grid-area: ki_prop;
}

.sheet-ki_size {
    grid-area: ki_size;
}

.sheet-ki_cost {
    grid-area: ki_cost;
}

.sheet-ki_input{
    width: 50%;
}

.sheet-skill {
    grid-area: skill;
}

.sheet-skill_section {
    display: inline-grid;
    grid-row: 2;
    grid-column: 1;
    justify-content: flex-start;
    grid-gap: 10px;
    grid-template-areas: "skill_label" 
        "skill_checkbox";
}

.sheet-skill_label {
    grid-area: skill_label;
}

.sheet-skil_checkbox{
    grid-area: skill_checkbox;
}

.sheet-4_skill{
    display: inline-grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-areas:
        "1_skill 1_skill"
        "1_skill 1_skill";
}

.sheet-1_skill{
    grid-area: 1_skill;
}