/*----------------- GENERAL CSS ------------------*/

/*Configure the tab buttons*/
.sheet-attributes,
.sheet-journal {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
	display: block;
}

.sheet-character{
    background-image: url(https://i.pinimg.com/564x/90/77/29/9077291c252a3177ae7f138c7ad718aa.jpg);
    background-position: center top;
    background-color: rgb(237, 109, 0);
    background-repeat: no-repeat;
    text-align: center;
}

.sheet-skill6{
    grid-area: skill6;
}

.sheet-skill5{
    grid-area: skill5;
}

.sheet-skill4{
    grid-area: skill4;
}

.sheet-skill3{
    grid-area: skill3;
}

.sheet-skill2{
    grid-area: skill2;
}

.sheet-skill1{
    grid-area: skill1;
}

.sheet-skill-label{
    color:darkred;
}
.sheet-skills{
    display: grid;
    grid-template-areas: 
    'skill1 skill2 skill3'
    'skill4 skill5 skill6';
}

button[type="roll"].sheet-skill:before{
    content: ' ';
  }
  
button[type="roll"].sheet-skill:hover{
    background-position: 0;
  }

button[type="roll"].sheet-skill{
    background-image: url(https://i.pinimg.com/564x/c4/79/b1/c479b192840cbf0bebedd912fde8b53f.jpg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-style: none;
    background-color: transparent;
    margin-left: 5px;
}

.sheet-stat-ten{
    display: flex;
    grid-area: stat-ten;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stat-pot{
    display: flex;
    grid-area: stat-pot;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stat-per{
    display: flex;
    grid-area: stat-per;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stat-spi{
    display: flex;
    grid-area: stat-spi;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stat-str{
    display: flex;
    grid-area: stat-str;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stat-sch{
    display: flex;
    grid-area: stat-sch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stat-agi{
    display: flex;
    grid-area: stat-agi;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stat-ins{
    display: flex;
    grid-area: stat-ins;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stats{
    display: grid;
    border: 3px solid darkred;
    grid-template-areas: 
    'stat-agi stat-ins'
    'stat-per stat-sch'
    'stat-spi stat-str'
    'stat-pot stat-ten';
}

.sheet-attr-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: attr-head;
}

.sheet-attr-top{
    display: flex;
    justify-content: center;
    align-content: space-between;
    grid-area: attr-top;
}

.sheet-attr-bot{
    display: flex;
    justify-content: center;
    align-content: space-between;
    grid-area: attr-bottom;
}
.sheet-info{
    display: grid;
    border: 3px solid darkred;
    grid-row: 25px;
    grid-template-areas:
    'attr-head'
    'attr-top'
    'attr-bottom';
}

h1{
    font-size: 3em;
    color: navy;
}

h2{
    font-size: 2em;
    color: navy;
}

h3{
    font-size: 1.5em;
    text-align: center;
    color: navy;
}

h4{
    font-size: 1em;
    color: navy;
}

label{
    color: navy;
    display: inline-block;
}
