/*----------------- GENERAL CSS ------------------*/

/*Configures the header (name/race/tabs/etc) */
.label{
    color: red;
}

.mech-info{
    display: inline-flex;
    grid-area: 'info_2';
}

.bio-info{
    display: inline-flex;
    grid-area: 'info_1';
}

.header{
    text-align: center;
    display: grid;
    grid-template-areas: 
    'info_1',
    'info_2',
    'tabs';
}

/*Configure the background header*/
.banner {
    background-image: url(https://raw.githubusercontent.com/Oboe831/DragonBallRedux/double_ascended/header.PNG);
    background-color: white;
    background-size: 50% 100%;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
}

div.attributes,
div.attacks,
div.abilities,
div.transformations {
    display: none;
}

input.tabstoggle[value="attributes"] ~ div.attributes,
input.tabstoggle[value="abilities"] ~ div.abilities,
input.tabstoggle[value="attacks"] ~ div.attacks,
input.tabstoggle[value="transformation"] ~ div.transformations {
    display: block;
}
