/*----------------- GENERAL CSS ------------------*/

/*Configure the tab buttons*/
.sheet-attributes,
.sheet-journal {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
	display: block;
}

.sheet-character{
    background-image: url(https://i.pinimg.com/564x/90/77/29/9077291c252a3177ae7f138c7ad718aa.jpg);
    background-position: center top;
    background-color: rgb(237, 109, 0);
    background-repeat: no-repeat;
    text-align: center;
}

.sheet-stat-ten{
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 1px inset darkred;
}

.sheet-stat-pot{
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 1px inset darkred;
}

.sheet-stat-per{
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 1px inset darkred;
}

.sheet-stat-spi{
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 1px inset darkred;
}

.sheet-stat-str{
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 1px inset darkred;
}

.sheet-stat-sch{
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 1px inset darkred;
}

.sheet-stat-agi{
    display: flex;
    justify-content: center;
    align-content: space-between;
    border: 1px inset darkred;
}

.sheet-stat-ins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px inset darkred;
}

.sheet-stats{
    display: grid;
    border: 3px solid darkred;
    grid-template-areas: 
    'stat-ins stat-agi'
    'stat-sch stat-str'
    'stat-spi stat-per'
    'stat-pot stat-ten';
}

.sheet-attr-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: attr-head;
}

.sheet-attr-top{
    display: flex;
    justify-content: center;
    align-content: space-between;
    grid-area: attr-top;
}

.sheet-attr-bot{
    display: flex;
    justify-content: center;
    align-content: space-between;
    grid-area: attr-bottom;
}
.sheet-info{
    display: grid;
    border: 3px solid darkred;
    grid-row: 25px;
    grid-template-areas:
    'attr-head'
    'attr-top'
    'attr-bottom';
}

h1{
    font-size: 3em;
    color: navy;
}

h2{
    font-size: 2em;
    color: navy;
}

h3{
    font-size: 1.5em;
    text-align: center;
    color: navy;
}

label{
    color: navy;
    display: inline-block;
}
