/*----------------- GENERAL CSS ------------------*/

/*Configure the tab buttons*/
.banner {
    background-image: url(https://i.pinimg.com/564x/ad/ce/f3/adcef371d608bdabd95fca1ee9a37ec4.jpg);
    background-color: white;
    background-size: 50% 100%;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

div.attributes,
div.attacks,
div.abilities,
div.transformations {
    display: none;
}

input.tabstoggle[value="attributes"] ~ div.attributes,
input.tabstoggle[value="abilities"] ~ div.abilities,
input.tabstoggle[value="attacks"] ~ div.attacks,
input.tabstoggle[value="transformation"] ~ div.transformations {
    display: block;
}
